<%- include('../partials/head') %>
<%- include('../partials/nav') %>

<div class="container">
    <h1>Add A Product</h1>
    <form action="/products" method="post">
        <div class="form-group row">
            <label for="name">Product Name</label>
            <input type="text" name="name" placeholder="Product Name">
        </div>
        <div class="form-group row">
            <label for="price">Price (Unit)</label>
            <input type="number" id="price" name="price" placeholder="product price">
        </div>
        <div class="form-group row">
            <label for="category">Select Category</label>
            <select name="category" id="category">
                <% for (let category of categories) { %>
                <option value="<%= category %>"><%= category %></option>
                <% } %>
            </select>
        </div>
        <div class="form-group row">
            <button>Submit</button>
        </div>
    </form>
    <section>
        <!-- <a href="/products">Go Back</a> -->
        <form action="/products">
            <button>Go Back</button>
        </form>
    </section>
</div>
<%- include('../partials/footer') %>